In [1]:
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in c:\users\parveez pasha\anaconda3\lib\site-packages (1.3.13)
Requirement already satisfied: pymysql in c:\users\parveez pasha\anaconda3\lib\site-packages (0.9.3)

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
db_host = '18.136.56.185:3306'
username = 'dm_user_sql'
user_pass = '37z49REbnKnlpVvJ'
db_name = 'datamites_sql'

conn = create_engine('mysql+pymysql://'+username+':'+user_pass+'@'+db_host+'/'+db_name)
conn.table_names()

['customers', 'orders', 'products']

In [4]:
query = "select * from orders"
orders = pd.read_sql(query,conn)
print(orders.shape)
orders

(9, 6)

         order_id  order_date customer_id       product_id   sales  quantity
0  CA-2015-115812    6/9/2015    BH-11710  FUR-FU-10001487  48.860         7
1  CA-2017-105654  12/10/2017    BH-11710  FUR-TA-10000577  71.530         3
2  CA-2017-138688   6/12/2017    DV-13045  OFF-LA-10000240  14.620         2
3  CA-2017-152156   11/8/2017    CG-12520  FUR-BO-10001798  58.960         2
4  CA-2018-109265    2/8/2018    BH-11710  OFF-LA-10000240  14.620         5
5  CA-2018-109862    4/9/2018    DV-13045  OFF-PA-10002365  15.552         1
6  CA-2018-112417    6/8/2018    SO-20335  OFF-PA-10002365  15.552         2
7  CA-2018-114412   4/11/2018    AA-10480  OFF-PA-10002365  15.552         3
8  US-2016-108966  10/11/2017    SO-20335  FUR-TA-10000577  69.650         5

In [5]:
query = "select * from customers"
customers = pd.read_sql(query,conn)
print(customers.shape)
customers

(10, 5)

,customer_id,customer_name,city,state,postal_code
0,AA-10480,Andrew Allen,Concord,North Carolina,28027
1,AG-10270,Alejandro Grove,West Jordan,Utah,84084
2,BH-11710,Brosina Hoffman,Los Angeles,California,90032
3,CG-12520,Claire Gute,Henderson,Kentucky,42420
4,DV-13045,Darrin Van Huff,Los Angeles,California,90036
5,HP-14815,Harold Pawlan,Fort Worth,Texas,76106
6,IM-15070,Irene Maddox,Seattle,Washington,98103
7,PK-19075,Pete Kriz,Madison,Wisconsin,53711
8,SO-20335,Sean O'Donnell,Fort Lauderdale,Florida,33311
9,ZD-21925,Zuschuss Donatelli,San Francisco,California,94109

In [6]:
query = "select * from products"
products = pd.read_sql(query,conn)
print(products.shape)
products

(14, 4)

,product_id,category,sub_category,product_name
0,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase
1,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."
2,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...
3,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
4,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables
5,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge
6,OFF-AR-10002833,Office Supplies,Art,Newell 322
7,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine
8,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...
9,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...
10,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967
11,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System
12,TEC-PH-10002033,Technology,Phones,Konftel 250 ConferenceÂ phoneÂ - Charcoal black
13,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone

# SQL Where Condition

In [7]:
query = "select * from products where category='Furniture'"
products = pd.read_sql(query,conn)
print(products.shape)
products

(5, 4)

,product_id,category,sub_category,product_name
0,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase
1,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."
2,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...
3,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
4,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables

# SQL Where Condition and logical statement

In [8]:
query = "select * from products where category='Furniture' and sub_category='Tables'"
products = pd.read_sql(query,conn)
print(products.shape)
products

(2, 4)

,product_id,category,sub_category,product_name
0,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
1,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables

## SQL Left Join
also called as Left Outer Join

In [9]:
# fechting only customers details who have orders
query = "select * from orders  left join customers on \
orders.customer_id=customers.customer_id"
data = pd.read_sql(query,conn)
print(data.shape)
data

(9, 11)

,order_id,order_date,customer_id,product_id,sales,quantity,customer_id,customer_name,city,state,postal_code
0,CA-2015-115812,6/9/2015,BH-11710,FUR-FU-10001487,48.860,7,BH-11710,Brosina Hoffman,Los Angeles,California,90032
1,CA-2017-105654,12/10/2017,BH-11710,FUR-TA-10000577,71.530,3,BH-11710,Brosina Hoffman,Los Angeles,California,90032
2,CA-2017-138688,6/12/2017,DV-13045,OFF-LA-10000240,14.620,2,DV-13045,Darrin Van Huff,Los Angeles,California,90036
3,CA-2017-152156,11/8/2017,CG-12520,FUR-BO-10001798,58.960,2,CG-12520,Claire Gute,Henderson,Kentucky,42420
4,CA-2018-109265,2/8/2018,BH-11710,OFF-LA-10000240,14.620,5,BH-11710,Brosina Hoffman,Los Angeles,California,90032
5,CA-2018-109862,4/9/2018,DV-13045,OFF-PA-10002365,15.552,1,DV-13045,Darrin Van Huff,Los Angeles,California,90036
6,CA-2018-112417,6/8/2018,SO-20335,OFF-PA-10002365,15.552,2,SO-20335,Sean O'Donnell,Fort Lauderdale,Florida,33311
7,CA-2018-114412,4/11/2018,AA-10480,OFF-PA-10002365,15.552,3,AA-10480,Andrew Allen,Concord,North Carolina,28027
8,US-2016-108966,10/11/2017,SO-20335,FUR-TA-10000577,69.650,5,SO-20335,Sean O'Donnell,Fort Lauderdale,Florida,33311

## SQL Right Join
Also called as Right outer join

In [10]:
# fechting only customers details who have orders
query = "select * from orders  right join customers on orders.customer_id=customers.customer_id"
data = pd.read_sql(query,conn)
print(data.shape)
data

(14, 11)

,order_id,order_date,customer_id,product_id,sales,quantity,customer_id,customer_name,city,state,postal_code
0,CA-2015-115812,6/9/2015,BH-11710,FUR-FU-10001487,48.860,7.0,BH-11710,Brosina Hoffman,Los Angeles,California,90032
1,CA-2017-105654,12/10/2017,BH-11710,FUR-TA-10000577,71.530,3.0,BH-11710,Brosina Hoffman,Los Angeles,California,90032
2,CA-2017-138688,6/12/2017,DV-13045,OFF-LA-10000240,14.620,2.0,DV-13045,Darrin Van Huff,Los Angeles,California,90036
3,CA-2017-152156,11/8/2017,CG-12520,FUR-BO-10001798,58.960,2.0,CG-12520,Claire Gute,Henderson,Kentucky,42420
4,CA-2018-109265,2/8/2018,BH-11710,OFF-LA-10000240,14.620,5.0,BH-11710,Brosina Hoffman,Los Angeles,California,90032
5,CA-2018-109862,4/9/2018,DV-13045,OFF-PA-10002365,15.552,1.0,DV-13045,Darrin Van Huff,Los Angeles,California,90036
6,CA-2018-112417,6/8/2018,SO-20335,OFF-PA-10002365,15.552,2.0,SO-20335,Sean O'Donnell,Fort Lauderdale,Florida,33311
7,CA-2018-114412,4/11/2018,AA-10480,OFF-PA-10002365,15.552,3.0,AA-10480,Andrew Allen,Concord,North Carolina,28027
8,US-2016-108966,10/11/2017,SO-20335,FUR-TA-10000577,69.650,5.0,SO-20335,Sean O'Donnell,Fort Lauderdale,Florida,33311
9,None,None,None,None,NaN,NaN,AG-10270,Alejandro Grove,West Jordan,Utah,84084
10,None,None,None,None,NaN,NaN,HP-14815,Harold Pawlan,Fort Worth,Texas,76106
11,None,None,None,None,NaN,NaN,IM-15070,Irene Maddox,Seattle,Washington,98103
12,None,None,None,None,NaN,NaN,PK-19075,Pete Kriz,Madison,Wisconsin,53711
13,None,None,None,None,NaN,NaN,ZD-21925,Zuschuss Donatelli,San Francisco,California,94109

In [11]:
# fechting only customers details who have orders
query = "select * from customers  right join orders on orders.customer_id=customers.customer_id"
data = pd.read_sql(query,conn)
print(data.shape)
data.head(50)

(9, 11)

,customer_id,customer_name,city,state,postal_code,order_id,order_date,customer_id,product_id,sales,quantity
0,BH-11710,Brosina Hoffman,Los Angeles,California,90032,CA-2015-115812,6/9/2015,BH-11710,FUR-FU-10001487,48.860,7
1,BH-11710,Brosina Hoffman,Los Angeles,California,90032,CA-2017-105654,12/10/2017,BH-11710,FUR-TA-10000577,71.530,3
2,DV-13045,Darrin Van Huff,Los Angeles,California,90036,CA-2017-138688,6/12/2017,DV-13045,OFF-LA-10000240,14.620,2
3,CG-12520,Claire Gute,Henderson,Kentucky,42420,CA-2017-152156,11/8/2017,CG-12520,FUR-BO-10001798,58.960,2
4,BH-11710,Brosina Hoffman,Los Angeles,California,90032,CA-2018-109265,2/8/2018,BH-11710,OFF-LA-10000240,14.620,5
5,DV-13045,Darrin Van Huff,Los Angeles,California,90036,CA-2018-109862,4/9/2018,DV-13045,OFF-PA-10002365,15.552,1
6,SO-20335,Sean O'Donnell,Fort Lauderdale,Florida,33311,CA-2018-112417,6/8/2018,SO-20335,OFF-PA-10002365,15.552,2
7,AA-10480,Andrew Allen,Concord,North Carolina,28027,CA-2018-114412,4/11/2018,AA-10480,OFF-PA-10002365,15.552,3
8,SO-20335,Sean O'Donnell,Fort Lauderdale,Florida,33311,US-2016-108966,10/11/2017,SO-20335,FUR-TA-10000577,69.650,5

## SQL Inner Join
This is default

In [12]:
# fechting only customers details who have orders
query = "select * from customers  inner join orders on orders.customer_id=customers.customer_id"
data = pd.read_sql(query,conn)
print(data.shape)
data.head(50)

(9, 11)

,customer_id,customer_name,city,state,postal_code,order_id,order_date,customer_id,product_id,sales,quantity
0,BH-11710,Brosina Hoffman,Los Angeles,California,90032,CA-2015-115812,6/9/2015,BH-11710,FUR-FU-10001487,48.860,7
1,BH-11710,Brosina Hoffman,Los Angeles,California,90032,CA-2017-105654,12/10/2017,BH-11710,FUR-TA-10000577,71.530,3
2,DV-13045,Darrin Van Huff,Los Angeles,California,90036,CA-2017-138688,6/12/2017,DV-13045,OFF-LA-10000240,14.620,2
3,CG-12520,Claire Gute,Henderson,Kentucky,42420,CA-2017-152156,11/8/2017,CG-12520,FUR-BO-10001798,58.960,2
4,BH-11710,Brosina Hoffman,Los Angeles,California,90032,CA-2018-109265,2/8/2018,BH-11710,OFF-LA-10000240,14.620,5
5,DV-13045,Darrin Van Huff,Los Angeles,California,90036,CA-2018-109862,4/9/2018,DV-13045,OFF-PA-10002365,15.552,1
6,SO-20335,Sean O'Donnell,Fort Lauderdale,Florida,33311,CA-2018-112417,6/8/2018,SO-20335,OFF-PA-10002365,15.552,2
7,AA-10480,Andrew Allen,Concord,North Carolina,28027,CA-2018-114412,4/11/2018,AA-10480,OFF-PA-10002365,15.552,3
8,SO-20335,Sean O'Donnell,Fort Lauderdale,Florida,33311,US-2016-108966,10/11/2017,SO-20335,FUR-TA-10000577,69.650,5

#  Join multiple tables

In [13]:
# fechting only customers details who have orders
query = "select * from orders  left join customers on \
orders.customer_id=customers.customer_id \
left join products on orders.product_id = products.product_id"
data = pd.read_sql(query,conn)
print(data.shape)
data

(9, 15)

,order_id,order_date,customer_id,product_id,sales,quantity,customer_id,customer_name,city,state,postal_code,product_id,category,sub_category,product_name
0,CA-2015-115812,6/9/2015,BH-11710,FUR-FU-10001487,48.860,7,BH-11710,Brosina Hoffman,Los Angeles,California,90032,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...
1,CA-2017-105654,12/10/2017,BH-11710,FUR-TA-10000577,71.530,3,BH-11710,Brosina Hoffman,Los Angeles,California,90032,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
2,CA-2017-138688,6/12/2017,DV-13045,OFF-LA-10000240,14.620,2,DV-13045,Darrin Van Huff,Los Angeles,California,90036,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...
3,CA-2017-152156,11/8/2017,CG-12520,FUR-BO-10001798,58.960,2,CG-12520,Claire Gute,Henderson,Kentucky,42420,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase
4,CA-2018-109265,2/8/2018,BH-11710,OFF-LA-10000240,14.620,5,BH-11710,Brosina Hoffman,Los Angeles,California,90032,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...
5,CA-2018-109862,4/9/2018,DV-13045,OFF-PA-10002365,15.552,1,DV-13045,Darrin Van Huff,Los Angeles,California,90036,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967
6,CA-2018-112417,6/8/2018,SO-20335,OFF-PA-10002365,15.552,2,SO-20335,Sean O'Donnell,Fort Lauderdale,Florida,33311,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967
7,CA-2018-114412,4/11/2018,AA-10480,OFF-PA-10002365,15.552,3,AA-10480,Andrew Allen,Concord,North Carolina,28027,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967
8,US-2016-108966,10/11/2017,SO-20335,FUR-TA-10000577,69.650,5,SO-20335,Sean O'Donnell,Fort Lauderdale,Florida,33311,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table